<ion-view view-title="Dashboard">
  <ion-content>
    
    <div class="list">

      <div class="item item-divider">
        CS 2C
      </div>

      <li class="item item-checkbox">
        Data Structure in C++
        <label class="checkbox">
          <input type="checkbox">
        </label>
      </li>

      <div class="item item-divider">
        MATH 1A
      </div>

      <li class="item item-checkbox">
        Calculus: Early Transcendentals
        <label class="checkbox">
          <input type="checkbox">
        </label>
      </li>

    </div>

  </ion-content>
</ion-view>
