<ion-view view-title="Class">
  <ion-content>
    <div class="list">

      <div class="item item-divider">
        Terms
      </div>

      <a class="item item-icon-right" href="#/tab/classlist/1">
        Winter 2015
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-right" href="#">
        Spring 2015
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-right" href="#">
        Fall 2015
        <i class="icon ion-ios-arrow-right"></i>
      </a>

    </div>
  </ion-content>
</ion-view>
